<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe_nya.findcheers">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDorzcUS6svrO3LVw_hgJ-FBj5Di2OB3g8"/>

        <!--会check meta data确定一种宏-->
        <!-- 去掉上面的app bar，之后会保存用户信息供后面继续使用 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventGridActivity" />
        <activity android:name=".EventActivity" >

        </activity>
        <activity
            android:name=".EventReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- 为了弹出来的keyboard不会遮盖掉一部分内容而设置的两行内容，相机和地址的图标跟着键盘一起往上走 、自动shrink-->
        <activity android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
        </activity>
    </application>

</manifest>